<div class="social-media">
    <small class="" style="font-size: medium; margin-right: 10px;">Follow me on:</small>
    <a href="https://www.facebook.com/akash.kolekar.148/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/akash.kolekar_/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/Akashkolekar"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/akash-kolekar-87a340280/" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
</div>

<div class="header-line">
    <div>
        <h1>Angular Developer</h1>
        <small>I like to craft solid and scalable frontend products <br> with great user experience</small>
    </div>
    <div class="d-flex gap-5">
        <small>Highly skilled at progressive <br> enhancement, design systems & <br> UI Engineering.</small>
        <small>Over a decade of experience <br> building products for clients <br> across several countries.</small>
    </div>
</div>


<div class="container-fluid second-page">
    <div class="img-icon d-flex row">
        <img src="assets/image-icon.jpeg" alt="">
        <caption class="text-white">Akash kolekar</caption>
    </div>
    <div class="img-half">

    </div>

</div>

<div class="container-fluid main-page">
    <div class="inner-page">

        <div class="inner-content">
            <img src="assets/image2.png" alt="" class="image-size">
            <h3>Project</h3>
            <ul>
                <li class="margin-text">small team</li>
                <li>never failed to get up and work</li>
            </ul>
            <div class="new">
                <h4 class="here">here</h4>
                <div class="content">
                    <p class="text">Created responsive page youtube website clone</p>
                </div>
            </div>
        </div>
        <div class="inner-content">
            <img src="assets/image2.png" alt="" class="image-size">
            <h3>Project</h3>
            <ul>
                <li class="margin-text">hello</li>
                <li>helloo</li>
            </ul>
            <div class="new">
                <h4 class="here">here</h4>
                <div class="content">
                    <p class="text">Created responsive page youtube website clone</p>
                </div>
            </div>
        </div>
        <div class="inner-content">
            <img src="assets/image1.png" alt="" class="image-size">
            <h3>Education</h3>
            <ul>
                <li class="margin-text">self motivated</li>
                <li>never bunk classes enjoyed lot</li>
            </ul>
            <div class="new">
                <h4 class="here">here</h4>
                <div class="content">
                    <p class="text">Post graduated in MCA</p>
                </div>
            </div>
        </div>
    </div>
</div>